@model IEnumerable<OrderIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create New Order</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderFlavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderFlavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
